In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

In [2]:
data = pd.read_csv('top_tracks.csv')
data['title'] = data['title'].str.lower()
data.head()

                      title                         artist
0  81 million votes, my ass  The Truth Bombers & Kari Lake
1                  fast car                     Luke Combs
2                last night                  Morgan Wallen
3                  take two                            BTS
4              need a favor                     Jelly Roll

In [3]:
userInput = input("Enter a song title:").lower()
if userInput in data['title'].values:
    recommend_song = random.choice(data['title'])
else:
    print('No reccomendation')
    
recommend_song

Enter a song title:fast car

'calm down'